*{
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
}

html,body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    scroll-behavior: auto;
}

.user-introduction {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.intro{
    background-color: rgb(204, 217, 223);
    width: 600px;
    padding: 70px 60px 70px 60px;
    border-style: groove;
    box-shadow: 3px 5px 5px 3px black;
    border-radius: 20px;
    line-height: 1.8rem;
}
.intro h1{
    font-size: 3rem;
}

.intro h3{
    font-size: 2rem;
    line-height: 5rem;
}

.intro p{
    font-size: 1.3rem;
}

.intro a{
    text-decoration: none;
    border: 2px solid rgb(11, 214, 207);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-size: 1.5rem;
    line-height: 8rem;
    margin-left: 80px;
    color: white;
    background-color: rgb(30, 28, 28);
}

.intro a:hover{
    background-color: rgb(16, 220, 235);
    color: black;
}

.profile-picture{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.picture{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: black;
}

.profile-picture button{
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid rgb(8, 9, 9);
    border-radius: 20px;
    padding: 20px 0px 20px 0px;
    color: white;
    cursor: pointer;
    background-color: blue;
}
#btn-resume:hover{
    background-color: rgb(20, 76, 165);
    scale: 1.1;
}

/* summary-education section1  */

.summary-education {
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.summary{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
.summary h3{
    font-size: 2.5rem;
    color: white;
}

.summary p{
    font-size: 1.5rem;
    width: 40rem;
    height: 20rem;
    color: white;
    padding: 90px 0px 40px 40px;
    line-height: 2.5rem;
}

.summary p:hover{
    font-size: 1.5rem;
    scale: 1.2;
    background-color: rgb(54, 53, 53);
}

.education{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.education h3{
    font-size: 2.5rem;
    color: white;
}

.education p{
    font-size: 1.5rem;
    width: 35rem;
    height: 15rem;
    color: white;
    padding: 130px 0px 40px 40px;
    line-height: 2.5rem;
    text-align: center;
}
.education p:hover{
    font-size: 1.5rem;
    scale: 1.2;
    background-color: rgb(54, 53, 53);
}

/*technical-skills section2 */
.technical-skills{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.technical-skills h2{
    font-size: 3rem;
    color: white;
}
.skills{
    width: 80rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 80px;
}

.technical-skills h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 40px;
    color: white;
}

.skills p{
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    color: white;
    

}

.skills p:hover{
    background-image: linear-gradient(to right, rgb(6, 6, 244), rgb(24, 24, 197),rgb(41, 41, 170),rgb(57, 57, 143),rgb(69, 69, 119),rgb(92, 92, 116));

}

.languages,
.FrameworksLibraries,
.VersionControl,
.DevelopmentTools,
.Concepts,
.SoftSkills {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    width: 23rem;
    height: 20rem;
    align-items: center;
    border-radius: 20px;
}
.skills:hover #box{
    opacity: 0.3;
}
.skills #box:hover{
    opacity: 1;
}

.skill-list{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}


/* section 3 */

.certificates{
    height: 100vh;
    width: 100%;
    margin-top: 7rem;
    text-align: center;
    text-transform: uppercase;
}
.certificates h3{
    color: white;
    font-size: 2.5rem;
}

.certificates .images{
    width: 100%;
    height: 80vh;
    display: flex;
    max-height: 200vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.images img{
    border: 1px solid black;
    height: 400px;
    width: 300px;
}

.images img:hover{
    scale: 1.6;
}

/* section4 */

.experience{
    height: 100vh;
    width: 100%;
    color: white;
}

.experience h3{
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

.experience #experience-heading{
    font-size: 2rem;
    color: rgb(232, 224, 212);
    margin-top: 10rem;
    margin-left: 7rem;
    line-height: 1.5;
}

.experience #exp-description{
    font-size: 1.7rem;
    width: 50rem;
    margin-top: 3rem;
    margin-left: 7rem;
    line-height: 1.5;
}

.projects{
    height: 100vh;
    width: 100%;
    max-height: 300vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
}

.projects h3{   
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.project-list{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.todo-list,
.Currency-Converter,
.Simple-Calculator,
.Contact-Management-App{
    height: 25rem;
    width: 20rem;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(56, 55, 55);
}

.project-list p{
    font-size: 1.8rem;
    line-height: 1.3;   
}

.todo-list span{
    color: green;
}
.Currency-Converter span{
    color: rgb(0, 255, 76);
}
.Simple-Calculator span{
    color: red;
}
.Contact-Management-App span{
    color: blue;
}

.project-list #description{
    font-size: 1.5rem;
    margin-top: 15px;
}

.project-list #lang-list{
    transition: 0.3s ease-in;
    color: transparent;
    margin: 10px 0px 10px 0px;
}
.todo-list:hover #lang-list:nth-child(2){
    color: rgb(221, 202, 29);
    font-size: 1.2rem;
}

.Currency-Converter:hover #lang-list:nth-child(2){
    color: rgb(221, 202, 29);
    font-size: 1.2rem;
}

.Simple-Calculator:hover #lang-list:nth-child(2){
    color: rgb(221, 202, 29);
    font-size: 1.3rem;
}

.Contact-Management-App:hover #lang-list:nth-child(2){
    color: rgb(221, 202, 29);
    font-size: 1.2rem;
}

.show-project{
    height: 300px;
    font-size: 2rem;
    text-align: center;
}
.show-project a{
    font-size: 2rem;
    text-decoration: none;
    line-height: 4;
    color: white;
    background-color: rgb(6, 6, 100);
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}
.show-project #show:hover{
    background-color: blue;
}

footer{
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(233, 238, 236, 0.2);
}
footer p{
    width: 35rem;
    font-size: 2rem;
    color: rgb(249, 247, 247);
    font-weight: bolder;
    margin-top: 40px;
    border: 1px solid rgb(248, 245, 245);
    border-radius: 20px;
    padding: 10px;
}

.contact-details{
    height: 400px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 50px;
    border: 1px solid rgb(253, 250, 250);
    background-color: rgb(2, 2, 2);
}
#textarea{
    width: 35rem;
    height: 100px;
    margin-top: 40px;
    font-size: 1.5rem;
    padding: 10px;
}

.contact-details button{
    font-size: 2rem;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: blue;    
    color: white;
}